.main {
  margin: 60px 0 70px 0;
  font-size: 16px;
}

#banner {
  display: flex;
  flex-direction: column;
  margin: 0 var(--pad-l) var(--pad-xl) var(--pad-l);
  font-size: 1.3em;
  font-weight: 700;
}

.banner-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
  margin: var(--pad-xl) var(--pad-l);
  border: 2px solid white;
  border-radius: var(--pad-s);
  font-size: 2em;
}

.banner-slide .banner-img {
  height: 100%;
}

.banner-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center bottom;
}

.banner-text {
  flex: auto;
  text-align: center;
}

@media (max-width: 600px) {
  .main {
    font-size: 12px;
  }

  .banner-slide {
    flex-direction: column;
  }

  .banner-slide .banner-img {
    height: 70%;
  }
}

/* Quickpicks Area */

#quickpick {
  display: flex;
  flex-direction: column;
  margin: var(--pad-xl) var(--pad-l);
}

.qp-header {
  font-size: var(--font-s2);
  font-weight: 700;
}

.qp-header span {
  font-size: 1em;
  color: var(--color4);
  font-weight: 500;
  display: block;
}

.songcards {
  padding: var(--pad-m);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 160px));
  justify-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .songcards {
    grid-template-columns: repeat(auto-fill, minmax(100px, 130px));
  }
}
