#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--pad-m);
    border-bottom: 2px solid var(--color4);
    font-weight: 600;
    user-select: none;
}

#navbar .navLink{
    margin: var(--pad-xxl);
    cursor: pointer;
}

.p-icon{
    background-color: var(--color2);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}