#playbar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: column;
    height: 70px;
}


#progressarea{
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
}

#progressbar{
    height: inherit;
    background-color: red;
    position: absolute;
}

#trackmeta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#trackmeta > * {
    display: flex;
    align-items: center;
}

#trackmeta #controls {
    width: 25%;
    justify-content: left;
}

.trackcontrols {
    display: flex;
    align-items: center;
}

.trackcontrols i {
    font-size: 30px;
    margin: 0 10px;
}

#timestamp {
    padding: 0 15px;
}

#timestamp span {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
}

#play-pause {
    font-size: 40px;
}

#trackmeta #trackdata {
    width: 50%;
    justify-content: center;
}

.trackimg {
    width: 40px;
    border-radius: 3px;
    margin: 0 20px;
    overflow: hidden;
}

.trackimg img {
    width: 100%;
}

#trackname {
    font-weight: 600;
    width: 155px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#trackartiste {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    width: 155px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#trackmeta .controls2 {
    width: 25%;
    justify-content: right;
}

.playlistcontrols, .showmore {
    color: rgba(255, 255, 255, 0.7);
}
