@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --color1: black;
  --color2: red;
  --color3: white;
  --color4: grey;

  --font-f1: "Lato", sans-serif;
  --font-f2: "Montserrat", sans-serif;

  --font-s1: 1.1rem;
  --font-s2: 1.3em;
  --font-s3: 2em;

  --pad-s: 5px;
  --pad-m: 7px;
  --pad-l: 10px;
  --pad-xs: 3px;
  --pad-xl: 15px;
  --pad-xxl: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:focus {
  outline: none !important;
}

body {
  width: 100%;
  font-family: var(--font-f2);
  background-color: black;
  color: white;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}
